.additional-goods__heading {
  position: relative;

  @include text(#111111, 24px, 26px);
  font-weight: normal;
  padding-top: 11px;
  padding-bottom: 13px;
}

.additional-goods__heading::after {
  @include pseudo;
  top: 53%;
  right: -20px;
  width: 53px;
  height: 3px;
  background-color: $green-tone;
}

.additional-goods__list {
  @include list-style;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/*
@media (min-width: $tablet-widths) {
} */

/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .additional-goods {

    width: 1000px;
  }
}
