.additional-card:first-child {
  border-top: 1px solid $border-color;
  padding-bottom: 18px;
}

.additional-card {
  border-bottom: 1px solid $border-color;
  padding-bottom: 19px;
}

.additional-card:last-child {
  margin-bottom: 39px;
}

.additional-card__heading {
  @include text(#222222, 16px, 16px);
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 12px;
  margin-left: 2px;
}

.additional-card__option {
  display: flex;

  @include text(#444444, 14px, 14px);
  font-family: $sup-font;
  font-weight: normal;
  justify-content: space-between;
  margin-bottom: 13px;
}

.additional-card__price {
  text-transform: uppercase;
  margin-right: -2px;
}

.additional-card .button--order {
  margin-top: 1px;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .additional-card {
    border: 1px solid $border-color;
    border-bottom: none;
    padding-top: 26px;
    padding-right: 37px;
    padding-bottom: 29px;
    padding-left: 38px;
  }

  .additional-card:first-child {
    padding-bottom: 27px;
  }

  .additional-card:last-child {
    padding-bottom: 28px;
    margin-bottom: 24px;
    border-bottom: 1px solid $border-color;
  }

  .additional-card__heading {
    margin-top: 0;
    margin-bottom: 23px;
    margin-left: 0;
    margin-right: 0;

    @include text(#222222, 20px, 20px);
  }

  .additional-card__option {
    margin: 0;

    @include text(#444444, 16px, 20px);
  }

  .additional-card__wraper {
    display: flex;
    align-items: baseline;
  }

  .additional-card__link {
    margin-right: auto;
  }

  .additional-card__price {
    margin-left: 52px;
  }

  .additional-card__price--water {
    margin-left: 62px;
  }

  .additional-card .button--order {
    width: 100%;
    padding-left: 90px;
    padding-top: 11px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */
@media (min-width: $desktop-widths) {
  .additional-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 895px;
    border: 1px solid $border-color;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-top: 16px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;
  }

  .additional-card:first-child {
    padding-top: 16px;
    padding-bottom: 14px;
  }

  .additional-card:last-child {
    padding-bottom: 15px;
  }

  .additional-card__heading {
    margin: 0;
    margin-left: 1px;
  }

  .additional-card__wraper {
    display: flex;
    width: 610px;
    align-items: baseline;
  }

  .additional-card__price--water {
    margin-right: 6px;
  }

  .additional-card__option {
    width: 285px;
    margin: 0;
  }

  .additional-card .button--order {
    @include text(#ffffff, 16px, 20px);
    width: 245px;
    margin: 0;
    margin-left: 39px;
    padding-left: 54px;
    padding-top: 9px;
  }
}
