.additional-goods__heading {
  display: inline-block;
  padding-left: 20px;
  padding-right: 23px;
  padding-top: 8px;
  padding-bottom: 15px;
  margin-left: -21px;
  position: relative;
  background: #ffffff;

  @include text(#111111, 24px, 24px);
  font-weight: normal;
}

.additional-goods__list {
  @include list-style;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .additional-goods__heading {
    padding-left: 39px;
    padding-right: 35px;
    margin-left: -2px;
    margin-top: 60px;
    margin-bottom: 65px;

    @include text(#111111, 36px, 36px);
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */


@media (min-width: $desktop-widths) {
  .additional-goods {
    width: 893px;
  }

  .additional-goods__heading {
    padding-left: 39px;
    padding-right: 35px;
    margin-left: -40px;
    margin-top: 66px;
    margin-bottom: 65px;
  }
}
