.additional-card:first-child {
  border-top: 1px solid $border-color;
}

.additional-card {
  border-bottom: 1px solid $border-color;
  padding-bottom: 17px;
}

.additional-card__heading {
  @include text(#222222, 16px, 16px);
  font-weight: normal;
  text-transform: uppercase;
}

.additional-card__option {
  display: flex;

  @include text(#444444, 14px, 14px);
  font-family: $sup-font;
  font-weight: normal;
  justify-content: space-between;
  margin-bottom: 14px;
}

.additional-card__price {
  text-transform: uppercase;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .additional-card__wraper {
    display: flex;
    align-items: baseline;
  }

  .additional-card__link {
    margin-right: auto;
  }

  .additional-card__price {
    margin-left: 100px;
  }

  .additional-card .button--order {
    width: 100%;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* @media (min-width: $desktop-widths) {
} */
