.additional-goods__heading {
  display: inline-block;
  padding-left: 20px;
  padding-right: 23px;
  padding-top: 8px;
  padding-bottom: 15px;
  margin-left: -21px;
  position: relative;
  background: #ffffff;

  @include text(#111111, 24px, 24px);
  font-weight: normal;
}

.additional-goods__list {
  @include list-style;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/*
@media (min-width: $tablet-widths) {
} */

/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .additional-goods {
    width: 1000px;
  }
}
