*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  width: 320px;
  font-family: $main-font;
  margin: 0 auto;
}

@media (min-width: $tablet-widths) {
  body {
    width: $tablet-widths;
    background-color: cyan;
  }
}

@media (min-width: $desktop-widths) {
  body {
    width: $desktop-widths;
    background-color: green;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  border: 1px solid $pinkish-grey;
}
