*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  min-width: $mobile-widths-only;
  font-family: $main-font;
  margin: 0 auto;
  background-color: cyan;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  border: 1px solid $pinkish-grey;
}
