
.button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 12px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $green-tone;

  @include text(#ffffff, 14px, 18px);
  font-weight: normal;
  cursor: pointer;
}

.button--more {
  background-color: #f2f2f2;
  color: gray;
}
