.button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 43px;
  padding-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $green-tone;

  @include text(#ffffff, 14px, 18px);
  font-weight: normal;
  cursor: pointer;
}

.button--more {
  background-color: $options-color;
  color: #444444;
  font-size: 16px;
  padding-top: 12px;
}

.button--button {
  padding-top: 0;
  font-size: 16px;
  font-weight: normal;
}

.button--order {
  margin-top: 2px;
  font-size: 16px;
}

@media (min-width: $tablet-widths) {
  .product-card .button {
    margin-top: 10px;
    width: 249px;
  }
}

@media (min-width: $desktop-widths) {
  .product-card .button {
    margin-top: 10px;
    width: 169px;
  }

  .button--more {
    padding-left: 23px;
    padding-right: 23px;
  }
}
