
.button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 278px;
  height: 40px;
  margin: 0 auto;
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 12px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $green-tone;

  @include text(#ffffff, 14px, 18px);
  font-weight: normal;
  cursor: pointer;
}

.button--more {
  background-color: $oprtions-color;
  color: #444444;
  font-size: 16px;
}

.button--button {
  padding-top: 0;
  font-size: 16px;
}

.button--order {
  font-size: 16px;
}
