.button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-height: 40px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $green-tone;

  @include text(#ffffff, 14px, 18px);
  font-weight: normal;
  cursor: pointer;
}

.button:hover {
  background-color: $green-hover;
}

.button:active {
  background-color: $green-hover;
  color: rgba(255, 255, 255, 0.3);
}

.button--more {
  background-color: $options-color;
  color: #444444;
  font-size: 16px;
  padding-top: 12px;
  padding-left: 95px;
  padding-right: 93px;
}

.button--more:hover {
  background-color: $gray-hover;
}

.button--more:active {
  background-color: $gray-hover;
  color: rgba(68, 68, 68, 0.3);
}

.button--button {
  padding-top: 0;
  padding-left: 79px;
  padding-right: 77px;
  font-size: 16px;
  font-weight: normal;
}

.button--order {
  margin-top: 0;
  font-size: 16px;
  padding-top: 13px;
  padding-left: 111px;
  padding-right: 109px;
}

@media (min-width: $tablet-widths) {
  .button--button {
    @include text(#ffffff, 20px, 20px);
    min-height: 52px;
    padding-left: 63px;
    padding-right: 67px;
    margin: 0;
    margin-right: 60px;
  }

  .button--order {
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .button--additional-order {
    @include text(#ffffff, 16px, 20px);
    width: 100%;
  }

  .button--more {
    margin-top: 10px;
    padding-top: 12px;
    padding-left: 78px;
    padding-right: 77px;
  }
}

@media (min-width: $desktop-widths) {
  .button--more {
    width: 169px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .button--button {
    width: 568px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 20px;
    margin: 0;
    margin-right: 83px;
  }

  .button--order {
    min-height: 40px;
    width: 245px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .button--additional-order {
    @include text(#ffffff, 16px, 20px);
    word-wrap: break-word;
    width: 245px;
    margin: 0;
    margin-left: 40px;
    padding-left: 15px;
    padding-top: 10px;
  }
}
