.catalog__heading {
  @include text(#111111, 36px, 60px);
  width: $mobile-widths-only;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 27px;
  font-weight: normal;
  border-bottom: 1px solid $border-color;
}

.catalog__list {
  @include list-style;
  width: $mobile-widths-only;
  margin: 0 auto;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .catalog__list {
    @include list-style;
    margin: 0 auto;
    width: 708px;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__heading {
    @include text(#111111, 60px, 60px);
    width: 708px;
    padding: 0;
    padding-top: 45px;
    margin-bottom: 165px;
    font-weight: normal;
    border-bottom: none;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .catalog__heading {
    @include text(#111111, 60px, 60px);
    width: 1220px;
    padding: 0;
    padding-top: 55px;
    margin-bottom: 165px;
    font-weight: normal;
    border-bottom: none;
  }

  .catalog__list {

    @include list-style;
    width: $desktop-widths;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__wraper {
    display: flex;
  }
}
