.catalog-more {
  border-bottom: 1px solid $border-color;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @include text(#111111, 12px, 26px);
  @include lr-paddings;
}

.catalog-more__expansion {
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon-plus.svg");
  cursor: pointer;
}

.catalog-more__text--bigger {
  @include text(#111111, 16px, 20px);
  font-weight: normal;
  text-transform: uppercase;
}

.catalog-more__text--smaller {
  font-family: $sup-font;
  color: gray;
}
