.catalog-more {
  min-height: 210px;
  border-bottom: 1px solid $border-color;
  text-align: center;
  font-weight: normal;
  padding-bottom: 10px;

  @include text(#444444, 12px, 26px);
}

.catalog-more__text {
  position: relative;
  text-align: center;
}

.catalog-more__text--bigger::before {
  @include pseudo;
  top: 25px;
  left: 136px;
  height: 31px;
  width: 1px;
  background-color: $border-color;
  cursor: pointer;
}

.catalog-more__text--bigger::after {
  @include pseudo;
  top: 40px;
  left: 122px;
  height: 1px;
  width: 31px;
  background-color: $border-color;
  cursor: pointer;
}

.catalog-more__text--bigger {
  margin: 0;
  margin-left: 3px;
  padding-top: 79px;
  padding-bottom: 10px;

  @include text(#111111, 16px, 20px);
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog-more__text--smaller {
  margin: 0;
  margin-bottom: 21px;
  font-family: $sup-font;
  text-align: center;

  @include text(#444444, 12px, 14px);
}

@media (min-width: $tablet-widths) {
  .catalog-more__text--bigger {
    margin-top: 42px;
    margin-bottom: 16px;
    padding-top: 101px;
    padding-left: 40px;
    padding-right: 40px;

    @include text(#111111, 20px, 20px);
  }

  .catalog-more__text--bigger::before {
    top: -5px;
    left: 121px;
    height: 61px;
  }

  .catalog-more__text--bigger::after {
    top: 22px;
    left: 92px;
    width: 61px;
  }

  .catalog-more__text--smaller {
    margin: 0;
    margin-bottom: 72px;
    padding-left: 20px;
    padding-right: 20px;

    @include text(#444444, 16px, 20px);
  }
}

@media (min-width: $desktop-widths) {
  .catalog-more__text--bigger {
    margin-top: 18px;
    margin-bottom: 24px;
  }

  .catalog-more__text--bigger::before {
    top: -112px;
    left: 82px;
    height: 61px;
  }

  .catalog-more__text--bigger::after {
    top: -82px;
    left: 52px;
    width: 61px;
  }

  .catalog-more__text--smaller {
    margin: 0;
    margin-bottom: 72px;
    padding: 0;
  }
}
