.catalog-more {
  min-height: 210px;
  border-bottom: 1px solid $border-color;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;

  @include text(#444444, 12px, 26px);
}

.catalog-more__text {
  position: relative;
}

.catalog-more__text--bigger::before {
  @include pseudo;
  top: -45px;
  left: 130px;
  height: 31px;
  width: 2px;
  background-color: $border-color;
  cursor: pointer;
}

.catalog-more__text--bigger::after {
  @include pseudo;
  top: -30px;
  left: 115px;
  height: 2px;
  width: 31px;
  background-color: $border-color;
  cursor: pointer;
}

.catalog-more__text--bigger {
  margin-top: 60px;
  margin-bottom: 10px;

  @include text(#111111, 16px, 20px);
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog-more__text--smaller {
  margin: 0;
  margin-bottom: 21px;
  font-family: $sup-font;
  text-align: center;

  @include text(#444444, 12px, 14px);
}

@media (min-width: $tablet-widths) {
  .catalog-more__text--bigger {
    margin-top: 20px;
    margin-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;

    @include text(#111111, 20px, 20px);
  }

  .catalog-more__text--bigger::before {
    top: -110px;
    left: 124px;
    height: 61px;
  }

  .catalog-more__text--bigger::after {
    top: -80px;
    left: 95px;
    width: 61px;
  }

  .catalog-more__text--smaller {
    margin: 0;
    margin-bottom: 72px;
    padding-left: 20px;
    padding-right: 20px;

    @include text(#444444, 16px, 20px);
  }
}

@media (min-width: $desktop-widths) {
}
