.container {
  width: $mobile-widths-only;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-widths) {
  .container {
    width: $tablet-widths;
    padding: 0 30px;
    margin: 0 auto;
  }

  .container--footer {
    padding-top: 60px;
  }
}

@media (min-width: $desktop-widths) {
  .container {
    width: $desktop-widths;
    padding: 0 40px;
    margin: 0 auto;
  }

  .container--header {
    display: flex;
    width: 174px;
  }

  .container--footer {
    padding-top: 60px;
  }
}
