.copyright {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}

.copyright__text {
  display: block;
  font-family: $sup-font;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-left: -2px;
  margin-right: 132px;

  @include text (#444444, 16px, 16px);
}

.copyright__link--logo {
  width: 35px;
  height: 41px;
}

.copyright__logo {
  width: 43px;
  height: 41px;
}

@media (min-width: $tablet-widths) {
  .copyright {
    padding-top: 17px;
  }

  .copyright__text {
    margin: 0;
    margin-top: 5px;
    margin-right: 13px;
  }

  .copyright__link--logo {
    display: block;
    margin-top: 4px;
    width: 35px;
    height: 41px;
  }
}

@media (min-width: $desktop-widths) {
  .copyright__link--logo {
    margin-top: 2px;
  }

  .copyright__text {
    margin-right: 14px;
    margin-top: 2px;
  }

  .copyright {
    padding-top: 13px;
  }
}
