.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
}

.copyright__text {
  font-family: $sup-font;

  @include text (#444444, 16px, 16px);
}

.copyright__link--logo {
  margin-right: -5px;
  width: 38px;
  height: 48px;
}
