.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

.copyright__text {
  font-family: $sup-font;
  margin-left: -2px;
  @include text (#444444, 16px, 16px);
}

.copyright__link--logo {
  margin-right: -5px;
  width: 38px;
  height: 48px;
}

@media (min-width: $tablet-widths) {
  .copyright {
    padding: 0;
    margin-top: -9px;
  }

  .copyright__text {
    margin-left: 50px;
  }

  .copyright__link--logo {
    margin-right: -5px;
    margin-left: 17px;
    width: 38px;
    height: 48px;
  }
}
