.description__header {
  @include text (#111111, 36px, 60px);
  font-weight: normal;
  margin-top: -13px;
  margin-bottom: 28px;
}

.description__list {
  @include list-style;
}

.description__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 60px;
}

.description__text {
  position: relative;
  width: 200px;
  font-family: $sup-font;
  margin: 0;

  @include text (#444444, 14px, 19px);
}

.description__text::before {
  @include pseudo;
  top: 0; /* временно */
  right: 0; /* временно */
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: $green-tone;
  background-repeat: no-repeat;
  background-position: center;
}

.description__text--leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.description__text--powder::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.description__text--dining::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.description__text--clock::before {
  background-image: url("../img/advantage-clock@1x.png");
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .description {
    min-height: 300px;
  }

  .description__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include list-style;
  }

  .description__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 250px;
    min-height: 260px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .description {
    min-height: 500px;
  }

  .description__list {
    display: flex;
    justify-content: space-between;

    @include list-style;
  }

  .description__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    height: 260px;
  }
}
