.example {
  padding-bottom: 37px;
  padding-top: 29px;
  margin-top: 44px;
  background-color: $options-color;
}

.example__heading {
  @include text(#111111, 36px, 38px);
  font-weight: normal;
  margin: 0;
  margin-bottom: 35px;
}

.example__text {
  font-family: $sup-font;

  @include text(#444444, 14px, 18px);
  font-weight: normal;
  margin: 0;
  margin-bottom: 37px;
  padding-right: 13px;
}

.example__data {
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.example__block {
  position: relative;
  height: 55px;
}

.example__block--weight {
  width: 82px;
  margin-left: 20px;
  margin-right: 75px;
}

.example__block--time {
  width: 82px;
}

.example__sign {
  position: relative;
  display: inline-block;
  z-index: 3;
  font-family: $sup-font;

  @include text($mr-gray-color, 12px, 12px);
  font-weight: normal;
  text-transform: lowercase;
  margin: 0;
  background-color: $options-color;
}

.example__value {
  @include text(#111111, 24px, 26px);
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
}

.example__block::after {
  @include pseudo;
  z-index: 1;
  top: -12px;
  width: 124px;
  height: 56px;
  border-radius: 3px;
  border: 1px solid $border-color;
  background-color: transparent;
}

.example__block--time::after {
  left: -21px;
}

.example__block--weight::after {
  left: -20px;
}

.example__result {
  z-index: 2;
  text-align: center;

  @include text(#111111, 14px, 16px);
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .example__mobile {
    width: $mobile-widths-only;
    padding: 0 20px;
    margin: 0 auto;
  }
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .example {
    padding-bottom: 0;
    padding-top: 43px;
    margin-top: 102px;
    border-top: 1px solid $border-color;
    background-color: #ffffff;
  }

  .example__heading {
    @include text(#111111, 60px, 60px);
    font-weight: normal;
    margin: 0;
    margin-bottom: 65px;
  }

  .example__text {
    @include text(#444444, 16px, 24px);
    margin: 0;
    margin-bottom: 48px;
  }

  .example__result {
    text-align: right;

    @include text(#111111, 20px, 30px);
    margin-top: 11px;
    margin-left: 0;
    margin-right: 2px;
    padding-left: 25px;
  }

  .example__wraper--row {
    display: flex;
    width: 708px;
    margin-left: 1px;
  }

  .example__wraper--text {
    width: $tablet-widths;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 55px;
  }

  .example__data {
    display: flex;
    width: 500px;
    text-align: center;
    margin-top: 20px;
  }

  .example__sign {
    font-family: $sup-font;

    @include text($mr-gray-color, 14px, 14px);
    font-weight: normal;
    text-transform: lowercase;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #ffffff;
  }

  .example__value {
    @include text(#111111, 30px, 37px);
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 6px;
  }

  .example__block--weight {
    width: 120px;
    margin-left: 20px;
    margin-right: 71px;
  }

  .example__block--time {
    width: 145px;
    margin-right: 94px;
  }

  .example__block::after {
    top: -16px;
    width: 162px;
    height: 72px;
    background-color: transparent;
  }

  .example__block--time::after {
    left: -8px;
  }

  .example__block--weight::after {
    left: -21px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .example {
    position: relative;
    display: flex;
    padding-top: 0;
    margin-top: 26px;
    border: none;
  }

  .example::before {
    @include pseudo;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(242, 242, 242, 1) 50%, rgba(237, 237, 237, 1) 50%);
    height: calc(100% - 189px);
  }

  .example__wraper--text {
    z-index: 2;
    width: 610px;
    padding: 0;
    padding-right: 160px;
    margin: 0;
  }

  .example__heading {
    margin-top: 55px;
    margin-bottom: 146px;
  }

  .example__text {
    @include text(#444444, 16px, 24px);
    margin: 0;
    margin-bottom: 65px;
    padding-bottom: 10px;
  }

  .example__result {
    text-align: left;

    @include text(#111111, 20px, 20px);
    margin-top: 36px;
    padding: 0;
  }

  .example__cost {
    display: inline-block;
    margin-left: 58px;
  }

  .example__sign,
  .example__value {
    background-color: $options-color;
  }

  .example__wraper--column {
    display: flex;
    flex-direction: column;
  }

  .example__wraper--row {
    display: flex;
    width: 580px;
  }

  .example__wraper--desk {
    display: flex;
  }


  @media (min-width: $desktop-widths) {
    .example__desctop {
      width: $desktop-widths;
      padding: 0 40px;
      margin: 0 auto;
    }
  }
}
