.example {
  @include lr-paddings;
  padding-top: 33px;
  padding-bottom: 37px;
  margin-top: 37px;

  background-color: $oprtions-color;
}

.example__heading {
  @include text(#111111, 36px, 38px);
  font-weight: normal;
  margin: 0;
  margin-bottom: 35px;
}

.example__text {
  font-family: $sup-font;

  @include text(#444444, 14px, 18px);
  font-weight: normal;
  margin: 0;
  margin-bottom: 37px;
  padding-right: 13px;
}

.example__data {
  display: flex;
  margin-left: 35px;
  text-align: center;
  margin-bottom: 25px;
}

.example__block {
  position: relative;
  height: 55px;
}

.example__block--weight {
  width: 54px;
  background-color: $oprtions-color;
}

.example__block--time {
  margin-left: 89px;
  width: 82px;
}

.example__sign {
  font-family: $sup-font;

  @include text($mr-gray-color, 12px, 12px);
  font-weight: normal;
  text-transform: lowercase;
  margin: 0;
}

.example__value {
  @include text(#111111, 24px, 26px);
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.example__border {
  position: absolute;
  top: -12px;
  width: 124px;
  height: 56px;
  border-radius: 3px;
  border: 1px solid $border-color;
  border-bottom: none;
  background-color: transparent;
}

.example__block--time .example__border {
  left: -22px;
}

.example__block--weight .example__border {
  left: -35px;
}

.example__result {
  text-align: center;

  @include text(#111111, 14px, 16px);
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .example__result {
    text-align: right;

    @include text(#111111, 20px, 20px);
    margin-left: 200px;
  }

  .example__wraper--row {
    display: flex;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .example {
    display: flex;
    min-height: 400px;
  }

  .example__result {
    text-align: right;

    @include text(#111111, 20px, 20px);
    margin-left: 0;
  }

  .example__wraper--column {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
}
