.footer {
  background-color: $options-color;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .footer__wraper {
    display: flex;
    min-height: 150px;
    align-items: center;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */
