.footer {
  background-color: $oprtions-color;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .footer__wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */
