.footer {
  background-color: $oprtions-color;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .footer__wraper {
    display: flex;
    justify-content: space-around;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .footer__wraper {
    display: flex;
    justify-content: space-around;
  }
}
