.header {
  display: flex;
  flex-direction: column;
  background-color: $header-color;
}

.header_wraper {
  display: flex;
  justify-content: space-around;
}

.header__menu {
  margin-top: 20px;
  margin-right: 10px;
  height: 19px;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__menu--lines {
  display: none;
  height: 19px;
  width: 25px;
  background-image: url("../img/icon-mobile-menu.svg");
}

.header__menu--x {
  background-image: url("../img/icon-close.svg");
}
