.header {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding-bottom: 7px;
}

.header__wraper {
  display: flex;
  align-items: center;
}

.header__menu {
  margin-left: auto;
  margin-top: 2px;
  height: 19px;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__menu--lines {
  height: 19px;
  width: 25px;
  background-image: url("../img/icon-mobile-menu.svg");
}

.header__menu--x {
  display: none;
  background-image: url("../img/icon-close.svg");
}

@media (min-width: $tablet-widths) {
  .header {
    display: flex;
    flex-direction: row;
    background-color: $header-color;
    padding-top: 13px;
    height: 59px;
  }

  .header__container {
    display: flex;
    width: $tablet-widths;
    padding: 0 30px;
    margin: 0 auto;
  }

  .header__menu--lines {
    display: none;
    height: 19px;
    width: 25px;
    background-image: url("../img/icon-mobile-menu.svg");
  }
}

@media (min-width: $desktop-widths) {
  .header {
    padding-bottom: 20px;
  }

  .header__container {
    display: flex;
    width: $desktop-widths;
    padding: 0 40px;
    margin: 0 auto;
  }
}
