.header {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding-bottom: 13px;
  padding-top: 12px;
  border-bottom: 1px solid $border-color;
}

.header__wraper {
  display: flex;
}

.header__menu {
  position: relative;
  margin-left: auto;
  margin-top: 10px;
  height: 25px;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__menu :hover {
  opacity: 0.6;
}

.header__menu :active {
  opacity: 0.3;
}

.header__menu--nojs {
  display: none;
}

.header__lines,
.header__lines::before,
.header__lines::after {
  margin-top: 2px;
  width: 25px;
  height: 3px;
  background-color: $mr-gray-color;
}

.header__lines::before,
.header__lines::after {
  @include pseudo;
  top: 7px;
  left: 0;
}

.header__lines::after {
  top: 14px;
}

.header__x {
  display: none;
  width: 3px;
  height: 25px;
  background-color: $mr-gray-color;
  margin: 0 auto;
  transform: rotate(45deg);
}

.header__x::before {
  @include pseudo;
  top: 11px;
  right: -11px;
  width: 25px;
  height: 3px;
  background-color: $mr-gray-color;
}

.header__lines--none,
.header__x--none {
  display: none;
}

.header__lines--block,
.header__x--block {
  display: block;
}

@media (min-width: $tablet-widths) {
  .header__menu {
    display: none;
  }

  .header {
    border: none;
    display: flex;
    flex-direction: row;
    background-color: $header-color;
    padding-top: 22px;
  }

  .header__container {
    display: flex;
    width: $tablet-widths;
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-widths) {
  .header {
    padding-bottom: 20px;
    padding-top: 16px;
    border: none;
  }

  .header--index {
    margin-bottom: -134px;
    padding-top: 16px;
  }

  .header__wraper {
    z-index: 1;
    margin-right: 444px;
  }

  .header__menu {
    display: none;
  }

  .header__container {
    display: flex;
    width: $desktop-widths;
    padding: 0 40px;
    margin: 0 auto;
  }
}
