.header {
  display: flex;
  flex-direction: column;
  background-color: $header-color;
  padding-top: 13px;

  @include lr-paddings;
}

.header__wraper {
  display: flex;
}

.header__menu {
  margin-top: 10px;
  margin-left: 53px;
  height: 19px;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__menu--lines {
  height: 19px;
  width: 25px;
  background-image: url("../img/icon-mobile-menu.svg");
}

.header__menu--x {
  display: none;
  background-image: url("../img/icon-close.svg");
}
