.invite-map {
  position: relative;
  z-index: 1;
  width: $mobile-widths-only;
  margin: 0 auto;
}

.invite-map__pin {
  position: absolute;
  width: 65px;
  height: 55px;
  top: 140px;
  right: 127px;
}

.invite-map__img {
  margin-top: -5px;
  vertical-align: bottom;
}

.invite-map__img--tab,
.invite-map__img--desk {
  display: none;
}

.invite-map__img--mob {
  display: block;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .invite-map {
    width: $tablet-widths;
  }

  .invite-map__pin {
    position: absolute;
    width: 120px;
    height: 107px;
    top: 150px;
    right: 324px;
  }

  .invite-map__img--mob,
  .invite-map__img--desk {
    display: none;
  }

  .invite-map__img--tab {
    display: block;
    margin-top: -6px;
    width: $tablet-widths;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .invite-map {
    width: $desktop-widths;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .invite-map__pin {
    position: absolute;
    right: 30%;
  }

  .invite-map__img--tab,
  .invite-map__img--mob {
    display: none;
  }

  .invite-map__img--desk {
    display: block;
  }
}
