.invite-map {
  position: relative;
  z-index: 1;
  width: $mobile-widths-only;
  margin: 0 auto;
}

.invite-map__pin {
  position: absolute;
  z-index: 2;
  width: 65px;
  height: 55px;
  top: 135px;
  right: 127px;
}

.invite-map__img {
  height: 365px;
  margin-top: -5px;
  vertical-align: bottom;
}

@media (min-width: $tablet-widths) {
  .invite-map {
    width: $tablet-widths;
  }

  .invite-map__pin {
    position: absolute;
    width: 120px;
    height: 107px;
    top: 143px;
    right: 324px;
  }

  .invite-map__img {
    height: 400px;
    margin-top: -6px;
    width: $tablet-widths;
  }
}

@media (min-width: $desktop-widths) {
  .invite-map {
    width: $desktop-widths;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }

  .invite-map__img {
    margin-top: 0;
    width: $desktop-widths;
    vertical-align: bottom;
  }

  .invite-map__pin {
    position: absolute;
    right: 320px;
  }
}
