.invite {
  position: relative;
  background-color: $oprtions-color;
  margin-bottom: 39px;
}

.invite__data {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 116px;
  padding-top: 2px;
  margin-bottom: -5px;
  background-color: #ffffff;
}

.invite__text {
  width: 125px;
  margin: 0;
  margin-left: 2px;
  margin-right: 19px;

  @include text(#111111, 16px, 20px);
  font-weight: normal;
  text-transform: uppercase;
}

.invite__adress {
  font-family: $sup-font;

  @include text(#444444, 14px, 20px);
  font-weight: normal;
  font-style: normal;
  padding-right: 5px;
}
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .invite__text {
    margin-right: 308px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .invite__wraper {
    position: relative;
    min-height: 400px;
    width: $desktop-widths;
    padding: 0 40px;
    margin: 0 auto;
  }

  .invite__data {
    width: 570px;
    min-height: 201px;
    margin-top: 40px;
    background-color: red; /*временно, на этом компе не видно почти фонов*/
  }
}
