.invite {
  position: relative;
  margin-bottom: 38px;
}

.invite__data {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 116px;
  background-color: #ffffff;
}

.invite__data--graybg {
  background-color: $options-color;
}

.invite__text {
  width: 125px;
  margin: 0;
  margin-top: 4px;
  margin-left: 6px;
  margin-right: 16px;

  @include text(#111111, 16px, 21px);
  font-weight: normal;
  text-transform: uppercase;
}

.invite__address {
  font-family: $sup-font;

  @include text(#444444, 14px, 20px);
  font-weight: normal;
  font-style: normal;
  padding-right: 7px;
}

.invite__iframe {
  position: absolute;
  // frameborder: 0;
  z-index: 3;
  top: 110px;
  left: 0;
  width: 100%;
  height: 367px;
}
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .invite {
    margin-bottom: 0;
  }

  .invite__data {
    display: flex;
    min-height: 201px;
  }

  .invite__text {
    width: 165px;
    margin: 0;
    margin-left: 3px;
    margin-right: 300px;

    @include text(#111111, 20px, 25px);
    font-weight: normal;
    text-transform: uppercase;
  }

  .invite__wraper {
    background-color: $options-color;
  }

  .invite__address {
    width: 165px;
    font-family: $sup-font;

    @include text(#444444, 16px, 20px);
    font-weight: normal;
    font-style: normal;
    text-align: right;
    padding-right: 0;
  }

  .invite__city {
    display: block;
    margin-top: 20px;
    margin-right: 4px;
  }

  .invite__iframe {
    position: absolute;
    z-index: 3;
    top: 200px;
    left: 0;
    width: 100%;
    height: 400px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .invite {
    margin-top: -5px;
  }

  .invite__wraper {
    position: relative;
    min-height: 400px;
    width: $desktop-widths;
    padding: 0 40px;
    padding-top: 90px;
    margin: 0 auto;
  }

  .invite__data {
    z-index: 3;
    width: 570px;
    min-height: 201px;
    background-color: #ffffff;

    padding-top: 20px;
  }

  .invite__text {
    margin-top: 11px;
    margin-right: 86px;
  }

  .invite__address {
    text-align: left;
    margin-top: 13px;
    margin-right: 6px;
  }

  .invite__iframe {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
  }
}
