.options__list {
  @include list-style;
}

.options__item {
  position: relative;
  background-color: $oprtions-color;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.options__item:last-child {
  margin-bottom: 32px;
}

.options__item::before {
  @include pseudo;
  top: 0;
  left: 0;

  @include round(50px, 51px, $green-tone);
  margin-right: 21px;
  text-align: center;
}

.options__item::after {
  @include pseudo;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  background-image: url("../img/icon-cat-pro.svg");

  @include background (center, no-repeat);
}

.options__item--slim::after {
  background-image: url("../img/icon-cat-slim.svg");
}

.options__item--pro::after {
  background-image: url("../img/icon-cat-pro.svg");
}

.options__wraper {
  display: flex;
  align-items: center;
}

.options__header {
  @include text(#111111, 24px, 37px);
  text-transform: uppercase;
  font-weight: normal;
}

.options__text {
  @include text(#444444, 14px, 18px);
  font-family: $sup-font;
  border-bottom: 1px solid $border-color;
  margin-top: 10px;
  margin-bottom: 17px;
  padding-bottom: 21px;
}

.options__link {
  @include text(#111111, 16px, 16px);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 35px;
}

.options__link::after {
  @include pseudo;
  top: 6px;
  right: 0;
  width: 25px;
  height: 12px;
  background-image: url("../img/icon-right-arrow-long.svg");

  @include background (center, no-repeat);
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .options__wraper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .options__text {
    margin-top: -50px;
    padding-right: 200px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .options__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @include list-style;
  }

  .options__item {
    width: 400px;
    background-color: $oprtions-color;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .options__text {
    @include text(#444444, 14px, 18px);
    font-family: $sup-font;
    border-bottom: 1px solid $border-color;
    margin-top: 10px;
    margin-bottom: 17px;
    padding-bottom: 21px;
  }
}
