.options__list {
  @include list-style;
}

.options__item {
  position: relative;
  background-color: $options-color;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.options__item:last-child {
  margin-bottom: 0;
}

.options__item::before {
  @include pseudo;
  top: 23px;
  left: 22px;

  @include round(50px, 51px, $green-tone);
  margin-right: 21px;
  text-align: center;
}

.options__item::after {
  @include pseudo;
  width: 53px;
  height: 50px;

  @include background (center, no-repeat);
}

.options__item--slim::after {
  background-image: url("../img/icon-cat-slim.svg");
  top: 22px;
  left: 20px;
}

.options__item--pro::after {
  background-image: url("../img/icon-cat-pro.svg");
  top: 22px;
  left: 12px;
  width: 69px;
  height: 52px;
}

.options__wraper {
  display: flex;
  align-items: center;
}

.options__header {
  @include text(#111111, 24px, 37px);
  text-transform: uppercase;
  font-weight: normal;
  margin-left: 70px;
}

.options__text {
  @include text(#444444, 14px, 18px);
  font-family: $sup-font;
  border-bottom: 1px solid $border-color;
  margin-top: 28px;
  margin-bottom: 18px;
  padding-bottom: 23px;
}

.options__link {
  @include text(#111111, 16px, 16px);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 35px;
  cursor: pointer;
}

.options__link::before {
  @include pseudo;
  background-color: $mr-gray-color;
  top: 11px;
  right: 0;
  width: 22px;
  height: 2px;
}

.options__link::after {
  @include pseudo;
  background-color: transparent;
  top: 6px;
  right: 0;

  border: 6px solid;
  border-color: transparent;
  border-left-color: $mr-gray-color;
  border-right: 0;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .options__list {
    margin-bottom: 44px;
  }

  .options__wraper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .options__header {
    @include text(#111111, 36px, 37px);
    margin: 0;
    padding-left: 32px;
  }

  .options__text {
    border: none;

    @include text(#444444, 16px, 24px);
    margin-top: 25px;
    padding-left: 32px;
    padding-right: 200px;
    margin-bottom: 33px;
  }

  .options__text--pro {
    padding-right: 235px;
  }

  .options__item {
    padding-top: 76px;
    padding-right: 80px;
    padding-bottom: 62px;
    margin-bottom: 30px;
  }

  .options__item::before {
    @include pseudo;
    top: 93px;
    left: 448px;

    @include round(200px, 200px, $green-tone);
    text-align: center;
  }

  .options__item::after {
    @include pseudo;
    width: 205px;
    height: 194px;
    top: 84px;
    left: 444px;

    @include background (center, no-repeat);
  }

  .options__item--slim::after {
    background-image: url("../img/icon-cat-slim.svg");
  }

  .options__item--pro::after {
    background-image: url("../img/icon-cat-pro.svg");
    top: 70px;
    left: 410px;
    width: 268px;
    height: 244px;
  }

  .options__link {
    @include text(#111111, 20px, 20px);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 45px;
    padding-left: 32px;
  }

  .options__link::before {
    top: 14px;
  }

  .options__link::after {
    top: 9px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .options__list {
    display: flex;
    flex-direction: row;
    margin-bottom: 42px;

    @include list-style;
  }

  .options__header {
    padding-left: 162px;
    margin-bottom: 73px;
  }

  .options__text {
    @include text(#444444, 16px, 24px);
    font-family: $sup-font;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 31px;
  }

  .options__item {
    width: 570px;
    min-height: 370px;
    padding-left: 52px;
    padding-right: 40px;
    padding-top: 79px;
    margin-bottom: 0;
  }

  .options__item:first-child {
    margin-right: 80px;
  }

  .options__item::before {
    @include pseudo;
    top: 47px;
    left: 52px;

    @include round(100px, 100px, $green-tone);
    text-align: center;
  }

  .options__item::after {
    @include pseudo;
    width: 110px;
    height: 110px;
    top: 40px;
    left: 52px;

    @include background (center, no-repeat);
  }

  .options__item--pro::after {
    background-image: url("../img/icon-cat-pro.svg");
    width: 130px;
    height: 130px;
    top: 37px;
    left: 32px;
  }

  .options__link {
    padding-left: 0;
  }

  .options__link::before {
    top: 15px;
  }

  .options__link::after {
    top: 10px;
  }
}
