.product-card {
  border: 1px solid $border-color;
  border-top: none;

  @include lr-paddings;
}

.product-card__heading {
  @include text(#111111, 16px, 20px);
  font-weight: normal;
  text-transform: uppercase;
}

.product-card__sign,
.product-card__value {
  @include text(#444444, 12px, 16px);
  font-family: $sup-font;
}

.product-card__wraper {
  display: flex;
}

.product-card__wraper--column {
  flex-direction: column;
}

/*

.product-card__image {

}

.product-card__option {

}

.product-card__sign {

}

.product-card__value {

}

*/
