.product-card {
  border: 1px solid $border-color;
  border-top: none;
  width: $mobile-widths-only;

  padding-left: 19px;
  padding-right: 20px;
  padding-bottom: 25px;
}

.product-card__heading {
  @include text(#111111, 16px, 20px);
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
  padding-right: 55px;
}

.product-card__data {
  width: 145px;
}

.product-card__sign,
.product-card__value {
  @include text(#444444, 12px, 12px);
  font-family: $sup-font;
}

.product-card__sign {
  text-align: left;
}

.product-card__value {
  text-align: right;
}

.product-card__wraper {
  display: flex;
}

.product-card__wraper--column {
  padding-top: 21px;
  width: 140px;
  flex-direction: column;
}

.product-card__image--tab,
.product-card__image--desk {
  display: none;
}

.product-card__image--mob {
  display: block;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .product-card {
    position: relative;
    border: none;
    width: 324px;
    min-height: 431px;
    padding-top: 145px;
    background-color: $options-color;
    padding-left: 38px;
    padding-right: 37px;
    margin-right: 60px;
    margin-bottom: 140px;
  }

  .product-card--more {
    padding-top: 20px;
    width: 323px;
    background-color: #ffffff;
    border: 1px solid $border-color;
  }

  .product-card:nth-last-child(1),
  .product-card:nth-last-child(2) {
    margin-bottom: 0;
    height: 263px;
  }

  .product-card__heading {
    @include text(#111111, 20px, 20px);
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
  }

  .product-card__data {
    width: 252px;
    min-height: 97px;
    margin-bottom: 22px;
    border-collapse: collapse;
  }

  .product-card__sign,
  .product-card__value {
    @include text(#444444, 16px, 16px);
    border-bottom: 1px solid $border-color;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  .product-card:nth-child(even) {
    margin-right: 0;
  }

  .product-card__wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-card__image--mob,
  .product-card__image--desk {
    display: none;
  }

  .product-card__image--tab {
    display: block;
    position: absolute;
    width: 324px;
    height: 170px;
    top: -44px;
    left: 0;
  }

  .product-card__image--big {
    height: 210px;
    top: -82px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .product-card {
    width: 245px;
    margin: 0;
    margin-top: 144px;
    padding-top: 142px;
  }

  .product-card--more {
    padding-top: 0;
    width: 245px;
  }

  .product-card:nth-child(-n+4) {
    width: 245px;
    margin: 0;
  }

  .product-card__heading {
    margin-bottom: 19px;
  }

  .product-card__wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0;
    margin-top: 11px;
  }

  .product-card__image--tab,
  .product-card__image--mob {
    display: none;
  }

  .product-card__image--desk {
    display: block;
    position: absolute;
    width: 245px;
    height: 175px;
    top: -46px;
    left: 0;
  }

  .product-card__image--big {
    height: 210px;
    top: -82px;
  }

  .product-card__data {
    width: 170px;
    height: 97px;
    border-collapse: collapse;
    margin-bottom: 22px;
  }

  .product-card__sign,
  .product-card__value {
    padding-bottom: 6px;
    padding-top: 6px;
  }
}
