.product-card {
  border: 1px solid $border-color;
  border-top: none;
  padding-bottom: 24px;

  @include lr-paddings;
}

.product-card__link--img {
  display: block;
  width: 137px;
  height: 143px;
}

.product-card__heading {
  @include text(#111111, 16px, 20px);
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding-right: 50px;
}

.product-card__data {
  width: 145px;
  margin-bottom: 20px;
}

.product-card__sign,
.product-card__value {
  @include text(#444444, 12px, 12px);
  font-family: $sup-font;
}

.product-card__sign {
  text-align: left;
}

.product-card__value {
  text-align: right;
}

.product-card__wraper {
  display: flex;
  justify-content: space-between;
}

.product-card__wraper--column {
  padding-top: 20px;
  width: 140px;
  flex-direction: column;
}

/* МАКСИМ - СДЕЛАЙ ЭТО МИКСИНОМ!!! */
.product-card__image--tab,
.product-card__image--desk {
  display: none;
}

.product-card__image--mob {
  display: block;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */
/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .product-card__wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-card {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .product-card__image--mob,
  .product-card__image--desk {
    display: none;
  }

  .product-card__image--tab {
    display: block;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */
/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .product-card__wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-card {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .product-card__image--tab,
  .product-card__image--mob {
    display: none;
  }

  .product-card__image--desk {
    display: block;
  }
}
