.product-card {
  border: 1px solid $border-color;
  border-top: none;
  width: $mobile-widths-only;
  padding-top: 2px;

  @include lr-paddings;
  padding-bottom: 24px;
}

.product-card__heading {
  @include text(#111111, 16px, 20px);
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding-right: 55px;
}

.product-card__data {
  width: 145px;
  margin-bottom: 20px;
}

.product-card__sign,
.product-card__value {
  @include text(#444444, 12px, 12px);
  font-family: $sup-font;
}

.product-card__sign {
  text-align: left;
}

.product-card__value {
  text-align: right;
}

.product-card__wraper {
  display: flex;
  justify-content: space-between;
}

.product-card__wraper--column {
  padding-top: 20px;
  width: 140px;
  flex-direction: column;
}

.product-card__image--tab,
.product-card__image--desk {
  display: none;
}

.product-card__image--mob {
  display: block;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .product-card {
    position: relative;
    border: none;
    width: 324px;
    min-height: 431px;
    padding-top: 145px;
    background-color: $options-color;
    padding-left: 38px;
    padding-right: 37px;
    margin-right: 60px;
    margin-bottom: 140px;
  }

  .product-card--more {
    width: 323px;
    min-height: 432px;
    background-color: #ffffff;
    border: 1px solid $border-color;
  }

  .product-card__heading {
    @include text(#111111, 20px, 20px);
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
  }

  .product-card__data {
    width: 252px;
    min-height: 100px;
    border-collapse: collapse;
  }

  .product-card__sign,
  .product-card__value {
    @include text(#444444, 16px, 16px);
    border-bottom: 1px solid $border-color;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .product-card:nth-child(even) {
    margin-right: 0;
  }

  .product-card__wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-card__image--mob,
  .product-card__image--desk {
    display: none;
  }

  .product-card__image--tab {
    display: block;
    position: absolute;
    width: 270px;
    height: 150px;
    top: -46px;
    left: 0;
  }

  .product-card__image--big {
    top: -82px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .product-card {
    width: 324px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .product-card__image--big {
    top: -82px;
  }

  .product-card__wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-card__image--tab,
  .product-card__image--mob {
    display: none;
  }

  .product-card__image--desk {
    display: block;
    position: absolute;
    width: 250px;
    height: 200px;
    top: -46px;
    left: 0;
  }
}
