.promo-offer {
  position: relative;
  margin-bottom: 34px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");

  @include background (center, no-repeat);
}

.promo-offer__text {
  min-height: 289px;
  padding-top: 186px;
  padding-left: 54px;
  padding-right: 55px;
  margin: 0;

  @include text(#ffffff, 16px, 20px);
  text-align: center;
  font-family: $sup-font;
  font-weight: normal;
}

.promo-offer__text::before {
  @include pseudo;
  background-image: url("../img/icon-gift.svg");

  @include background (center, no-repeat);
  width: 56px;
  height: 61px;
  top: 63px;
  right: 112px;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .promo-offer {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .promo-offer__text {
    margin: 0;
    padding: 0;
    padding-top: 116px;
    padding-left: 424px;
    padding-right: 100px;

    @include text(#ffffff, 16px, 20px);
    text-align: left;
  }

  .promo-offer__text::before {
    @include pseudo;
    background-image: url("../img/icon-gift.svg");

    @include background (center, no-repeat);
    width: 56px;
    height: 61px;
    top: 107px;
    left: 90px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .promo-offer {
    width: 325px;
    height: 290px;
    margin-top: 190px;
    margin-left: 80px;
    margin-bottom: 90px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .promo-offer__text {
    width: 240px;
    text-align: center;
    margin: 0;
    padding-top: 189px;
    padding-left: 36px;
    padding-right: 30px;
  }

  .promo-offer__text::before {
    top: 65px;
    left: 98px;
  }
}
