.selection__heading {
  @include text(#111111, 36px, 38px);
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 36px;
}

.selection__text {
  @include text(#111111, 14px, 17px);
  font-weight: normal;
  margin: 0;
  margin-bottom: 42px;
  padding-right: 30px;
  text-transform: uppercase;
}
