.selection-form__cat {
  display: flex;
  flex-direction: column;
  min-height: 163px;
  padding-bottom: 20px;
}

.selection-form__wraper {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.selection-form__wraper--radio {
  width: $mobile-widths-only;
  padding: 0 20px;
  margin: 0 auto;
  flex-direction: column;
}

.selection-form__wraper--contacts,
.selection-form__wraper--submit,
.selection-form__wraper--comment {
  flex-direction: column;
}

.selection-form__label {
  @include text(#222222, 16px, 18px);
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 14px;
  padding-top: 13px;
}

.selection-form__input {
  @include text(#444444, 16px, 17px);
  font-weight: normal;
  text-transform: uppercase;
  flex-grow: 1;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 38px;
}

.selection-form__input--age {
  width: 172px;
}

.selection-form__radioblock {
  border: 1px solid $border-color;

  @include list-style;
}

.selection-form__option {
  margin-bottom: 24px;
}

.selection-form__radio {
  margin-right: 16px;
}

.selection-form__heading {
  position: relative;

  @include text(#111111, 24px, 24px);
  font-weight: normal;
  padding-top: 11px;
  padding-bottom: 13px;
}

.selection-form__label--comment {
  @include text(#111111, 24px, 24px);
  font-weight: normal;
  text-transform: none;
}

.selection-form__wraper--contacts,
.selection-form__wraper--options,
.selection-form__wraper--comment {
  position: relative;
}

.selection-form__wraper--contacts::after,
.selection-form__wraper--comment::after,
.selection-form__wraper--options::after {
  @include pseudo;
  left: 50%;
  width: 100%;
  height: 3px;
  background-color: $green-tone;
}

.selection-form__wraper--contacts::after {
  top: 44px;
  transform: translateX(70px);
}

.selection-form__wraper--comment::after {
  top: 24px;
  transform: translateX(10px);
}

.selection-form__wraper--options::after {
  top: 12px;
  transform: translateX(24px);
}

.selection-form__input--comment {
  resize: none;
  min-height: 150px;
  width: 280px;
  padding-right: 0;
  margin-top: 20px;
}

.selection-form__button {
  position: absolute;
  top: 12px;
  background-color: transparent;
  border: none;
  outline: none;
}

.selection-form__button--tel {
  right: 0;
}

.selection-form__button--email {
  right: 5px;
}

.selection-form__input--tel,
.selection-form__input--email {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 11px;
  padding-right: 38px;
}

.selection-form__options {
  @include list-style();
  margin-bottom: 41px;
}

.selection-form__heading--options {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
}

.selection-form__checkbox {
  margin-right: 29px;
}

.selection-form__explanation {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 17px;

  @include text(#444444, 14px, 15px);
  font-family: $sup-font;
  text-decoration: none;
  font-weight: normal;
}

/* СТИЛИ ДЛЯ taba */
@media (min-width: $tablet-widths) {
  .selection-form__radioblock {
    border: none;
  }

  .selection-form__wraper--radio {
    width: 708px;
    border: 1px solid $border-color;
    padding: 0;
    padding-left: 28px;
    padding-top: 28px;
    margin: 0 auto;
  }

  .selection-form__input--comment {
    width: 708px;
  }

  .selection-form__wraper--contacts::after {
    transform: translateX(-130px);
  }

  .selection-form__wraper--comment::after {
    transform: translateX(-200px);
  }

  .selection-form__wraper--options::after {
    transform: translateX(-190px);
  }

  .selection-form__wraper--contacts::before,
  .selection-form__wraper--comment::before,
  .selection-form__wraper--options::before {
    @include pseudo;
    right: 50%;
    transform: translateX(-380px);
    width: 100%;
    height: 3px;
    background-color: $green-tone;
  }

  .selection-form__wraper--contacts::before {
    top: 44px;
  }

  .selection-form__wraper--comment::before {
    top: 24px;
  }

  .selection-form__wraper--options::before {
    top: 12px;
  }

  .selection-form__options {
    display: flex;
    flex-wrap: wrap;
  }

  .selection-form__option {
    width: 300px;
    margin-bottom: 24px;
  }

  .selection-form__wraper--submit {
    justify-content: space-between;
    flex-direction: row;
  }

  .button--button { /* временно тут */
    margin: 0; /* временно тут */
  } /* временно тут */
}

/* СТИЛИ ДЛЯ ДЕСКА */
@media (min-width: $desktop-widths) {
  .selection-form__catwrap {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
  }

  .selection-form__catwrap .container {
    padding: 0;
    margin-right: 30px;
  }

  .selection-form__wraper--contacts::before,
  .selection-form__wraper--comment::before,
  .selection-form__wraper--options::before {
    @include pseudo;
    right: 50%;
    transform: translateX(-640px);
    width: 100%;
    height: 3px;
    background-color: $green-tone;
  }

  .selection-form__wraper--contacts::after {
    transform: translateX(-400px);
  }

  .selection-form__wraper--comment::after {
    transform: translateX(-460px);
  }

  .selection-form__wraper--options::after {
    transform: translateX(-440px);
  }

  .selection-form__wraper--submit {
    justify-content: flex-start;
    flex-direction: row;
    align-items: baseline;
  }

  .button--button { /* временно тут */
    margin: 40px; /* временно тут */
  } /* временно тут */
}
