.selection__heading {
  @include text(#111111, 36px, 60px);
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 25px;
}

.selection__text {
  @include text(#111111, 14px, 18px);
  font-weight: normal;
  margin: 0;
  margin-bottom: 40px;
  padding-right: 30px;
  text-transform: uppercase;
}

@media (min-width: $tablet-widths) {
  .selection__heading {
    @include text(#111111, 60px, 60px);
    margin-left: -1px;
    margin-top: 46px;
    margin-bottom: 56px;
  }

  .selection__text {
    @include text(#111111, 20px, 30px);
    text-align: left;
    padding-right: 320px;
    padding-left: 40px;
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-widths) {
  .selection__heading {
    @include text(#111111, 60px, 60px);
    margin-left: 0;
    margin-top: 55px;
    margin-bottom: 53px;
  }

  .selection__text {
    @include text(#111111, 20px, 30px);
    text-align: left;
    padding-right: 850px;
    padding-left: 0;
    margin-bottom: 66px;
  }
}
