.error-input {
  border: 2px solid $error-color;
}

.selection-form__icon--error {
  fill: $error-color;
}

::-webkit-input-placeholder {
  color: $mr-gray-color;
}

::-moz-placeholder {
  color: $mr-gray-color;
}

:-moz-placeholder {
  color: $mr-gray-color;
}

:-ms-input-placeholder {
  color: $mr-gray-color;
}

input,
textarea {
  border: 1px solid rgba(205, 205, 205, 0.5);
}

input:hover,
textarea:hover {
  border: 1px solid rgba(205, 205, 205, 1);
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid $mr-gray-color;
}

input:focus + .selection-form__icon {
  fill: $green-tone;
}

.selection-form__input:focus {
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 13px;
  padding-right: 37px;
}

.selection-form__input--weight:focus {
  padding-left: 15px;
  width: 204px;
}

.selection-form__input--age:focus {
  padding-left: 15px;
  width: 172px;
  margin-bottom: 9px;
}

.selection-form__input--tel:focus,
.selection-form__input--email:focus {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 13px;
  padding-right: 37px;
}

.selection-form__input--comment:focus {
  padding-right: 0;
  margin-top: 26px;
  padding-top: 11px;
  padding-left: 13px;
}

/*кольцо радиокнопки*/
.selection-form__radio:hover + label::before,
.selection-form__checkbox:hover + label::after {
  border: 1px solid #bababa;
}

.selection-form__label--radio:active,
.selection-form__checkbox:active + label::after,
.selection-form__label:active {
  opacity: 0.3;
}

.selection-form__heading,
.selection-form__label--comment {
  display: inline-block;
  padding: 0 20px;
  padding-bottom: 10px;
  margin-left: -21px;
  position: relative;
  background: #ffffff;

  @include text(#111111, 24px, 24px);
  font-weight: normal;
}

.selection-form__heading--contacts {
  margin-top: 30px;
  margin-bottom: 23px;
  margin-right: 79px;
}

.selection-form__heading--comment {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 22px;
}

.selection-form__heading--options {
  margin-top: 25px;
  margin-bottom: 4px;
  padding-right: 24px;
}

.selection-form__cat {
  display: flex;
  flex-direction: column;
  min-height: 163px;
  padding-bottom: 20px;
}

.selection-form__wraper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

.selection-form__wraper--radio {
  padding-top: 29px;
  padding-bottom: 26px;
  flex-direction: column;
}

.selection-form__wraper--contacts,
.selection-form__wraper--submit,
.selection-form__wraper--comment,
.selection-form__wraper--column {
  flex-direction: column;
}

.selection-form__wraper--contacts,
.selection-form__wraper--comment,
.selection-form__wraper--submit,
.selection-form__wraper--options {
  margin-bottom: 0;
}

.selection-form__label {
  @include text(#222222, 16px, 18px);
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 15px;
  margin-left: -1px;
  padding-top: 13px;
}

.selection-form__label--weight {
  margin-right: 17px;
}

.selection-form__input {
  @include text(#444444, 16px, 18px);
  width: 229px;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 14px;
  padding-right: 38px;
}

.selection-form__input--weight {
  padding-left: 16px;
  width: 204px;
}

.selection-form__input--age {
  padding-left: 16px;
  width: 172px;
  margin-bottom: 9px;
}

.selection-form__radioblock {
  border: 1px solid $border-color;

  @include list-style;
  padding-top: 25px;
  padding-bottom: 26px;
  margin: 0 auto;
  margin-bottom: 9px;
}

.selection-form__option {
  margin-bottom: 25px;
}

.selection-form__option:first-child {
  margin-top: 26px;
}

.selection-form__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.selection-form__radio + label {
  position: relative;
  padding-left: 46px;
  cursor: pointer;
}

/*кольцо радиокнопки*/
.selection-form__radio + label::before {
  @include pseudo;
  top: 10px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $border-color;
  border-radius: 50%;
  background: #ffffff;
}

/*точка радиокнопки*/
.selection-form__radio + label::after {
  @include pseudo;
  top: 19px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: $green-tone;
  opacity: 0;
  transition: 0.25s;
}

.selection-form__radio:checked + label::after {
  opacity: 1;
}

.selection-form__label--comment {
  @include text(#111111, 24px, 24px);
  font-weight: normal;
  text-transform: none;
}

.selection-form__wraper--contacts,
.selection-form__wraper--options,
.selection-form__wraper--comment {
  position: relative;
}

.selection-form__wraper--contacts::before,
.selection-form__wraper--comment::before,
.selection-form__wraper--options::before {
  @include pseudo;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $green-tone;
}

.selection-form__wraper--contacts::before {
  top: 44px;
}

.selection-form__wraper--comment::before {
  top: 14px;
}

.selection-form__wraper--options::before {
  top: 39px;
}

.selection-form__label--tel {
  margin-right: 11px;
}

.selection-form__label--email {
  margin-right: 12px;
}

.selection-form__icon--tel,
.selection-form__icon--email {
  position: absolute;
  top: 8px;
  right: 16px;
  width: 17px;
  height: 30px;
}

.selection-form__icon--tel {
  top: 12px;
  right: 12px;
  width: 21px;
  height: 21px;
}

.selection-form__input--tel,
.selection-form__input--email {
  width: 219px;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 14px;
  padding-right: 38px;
}

.selection-form__input--comment {
  resize: none;
  min-height: 150px;
  width: 280px;
  padding-right: 0;
  margin-top: 26px;
}

.selection-form__options {
  @include list-style();
  margin-bottom: 39px;
}

/*cтилизация чекбоксов*/
.selection-form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.selection-form__checkbox + label {
  position: relative;
  padding: 0 0 0 47px;
  cursor: pointer;
}

/*маркер бокса!*/
.selection-form__checkbox + label::after {
  @include pseudo;
  top: -3px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $border-color;
}

.selection-form__checkbox:checked + label::before {
  @include pseudo;
  top: 4px;
  left: 6px;
  width: 20px;
  height: 11px;
  border-left: 2px solid $green-tone;
  border-bottom: 2px solid $green-tone;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  transition: 0.2s;
}

/*cтилизация чекбоксов*/

.selection-form__explanation {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 15px;

  @include text(#444444, 14px, 15px);
  font-family: $sup-font;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 16px;
}

/* СТИЛИ ДЛЯ taba */
@media (min-width: $tablet-widths) {
  .selection-form__input:focus {
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 17px;
  }

  .selection-form__input--weight:focus {
    width: 536px;
    padding-left: 17px;
  }

  .selection-form__input--age:focus {
    width: 497px;
    padding-left: 18px;
  }

  .selection-form__input--tel:focus,
  .selection-form__input--email:focus {
    width: 535px;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 17px;
    padding-right: 37px;
  }

  .selection-form__input--email:focus {
    padding-top: 9px;
    padding-left: 19px;
    width: 551px;
  }

  .selection-form__heading,
  .selection-form__label--comment {
    padding: 0 39px;
    padding-bottom: 10px;
    margin-left: 0;
    position: relative;

    @include text(#111111, 36px, 36px);
  }

  .selection-form__heading--contacts {
    margin-top: 74px;
    margin-bottom: 67px;
    margin-right: 77px;
    padding-right: 42px;
  }

  .selection-form__label {
    @include text(#222222, 20px, 20px);
    margin-left: 42px;
    padding-top: 15px;
    margin-right: 15px;
  }

  .selection-form__label--weight {
    margin-right: 18px;
  }

  .selection-form__label--age {
    margin-right: 16px;
  }

  .selection-form__input {
    @include text(#444444, 20px, 20px);
    width: 567px;
    margin-right: 35px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 18px;
  }

  .selection-form__wraper {
    margin-bottom: 19px;
  }

  .selection-form__input--weight {
    padding-left: 18px;
    width: 536px;
    margin-right: 35px;
  }

  .selection-form__input--age {
    padding-left: 19px;
    width: 497px;
    margin-bottom: 52px;
  }

  .selection-form__label--radio {
    margin-left: 11px;
  }

  .selection-form__radioblock {
    border: none;
    display: flex;

    @include list-style;
    padding-top: 35px;
    padding-bottom: 33px;
    padding-right: 37px;
    padding-left: 40px;
    width: 630px;
  }

  .selection-form__wraper--radio {
    border: 1px solid $border-color;
    padding-left: 31px;
    padding-top: 34px;
    margin: 0 auto;
  }

  .selection-form__options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }

  .selection-form__option {
    width: 300px;
    margin-top: 0;
    margin-bottom: 32px;
  }

  .selection-form__option:first-child {
    margin-top: 0;
  }

  .selection-form__option:last-child {
    margin-bottom: 0;
  }

  /*кольцо радиокнопки*/
  .selection-form__radio + label::before {
    top: 11px;
    left: -13px;
    width: 40px;
    height: 40px;
  }

  /*точка радиокнопки*/
  .selection-form__radio + label::after {
    top: 22px;
    left: -2px;
    width: 18px;
    height: 18px;
  }

  /*зеленые линии*/
  .selection-form__wraper--contacts::before {
    top: 96px;
  }

  .selection-form__label--tel,
  .selection-form__label--email {
    margin-right: 17px;
  }

  .selection-form__label--tel {
    margin-left: 38px;
  }

  .selection-form__icon--tel,
  .selection-form__icon--email {
    position: absolute;
    top: 11px;
    right: 56px;
    width: 17px;
    height: 30px;
  }

  .selection-form__icon--tel {
    right: 53px;
    width: 20px;
  }

  .selection-form__input--tel,
  .selection-form__input--email {
    width: 535px;
    margin: 0;
    margin-bottom: 2px;
    margin-right: 35px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 38px;
  }

  .selection-form__input--email {
    padding-top: 10px;
    padding-left: 20px;
    width: 551px;
  }

  .selection-form__wraper--comment::before {
    top: 47px;
  }

  .selection-form__heading--comment {
    margin-top: 25px;
    margin-bottom: 41px;
    padding-right: 40px;
  }

  .selection-form__input--comment {
    padding-top: 14px;
    padding-left: 18px;
    width: 631px;
    min-height: 174px;
    margin-left: 40px;
  }

  .selection-form__input--comment:focus {
    padding-top: 13px;
  }

  .selection-form__wraper--comment {
    margin-bottom: 43px;
  }

  .selection-form__wraper--options::before {
    top: 22px;
  }

  .selection-form__heading--options {
    margin-top: 0;
    margin-bottom: 56px;
    padding-right: 42px;
  }

  .selection-form__label--checkbox {
    margin-left: 51px;
  }

  .selection-form__option--add {
    width: 300px;
    margin-top: 0;
    margin-right: 44px;
    margin-bottom: 51px;
  }

  .selection-form__checkbox + label::after {
    @include pseudo;
    top: -4px;
    left: -11px;
    width: 40px;
    height: 40px;
  }

  .selection-form__checkbox:checked + label::before {
    @include pseudo;
    top: 7px;
    left: 0;
    width: 20px;
    height: 11px;
  }

  .selection-form__wraper--submit {
    padding-left: 40px;
    padding-right: 144px;
    flex-direction: row;
    margin-bottom: 56px;
  }

  .selection-form__explanation {
    padding-top: 1px;
    padding-bottom: 0;

    @include text(#444444, 16px, 16px);
    margin-bottom: 16px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */
@media (min-width: $desktop-widths) {
  .selection-form__input:focus {
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 17px;
  }

  .selection-form__input--weight:focus {
    padding-left: 17px;
    width: 475px;
  }

  .selection-form__input--age:focus {
    padding-left: 17px;
    padding-bottom: 9px;
    width: 436px;
    margin-bottom: 0;
  }

  .selection-form__input--tel:focus,
  .selection-form__input--email:focus {
    width: 472px;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 17px;
    padding-right: 37px;
  }

  .selection-form__input--email:focus {
    padding-top: 9px;
    padding-left: 17px;
    width: 486px;
  }

  .selection-form__input--comment:focus {
    padding-right: 0;
    padding-top: 13px;
    padding-left: 17px;
    width: 1220px;
  }

  .selection-form__heading {
    margin-left: -30px;
  }

  .selection-form__label {
    margin-left: -9px;
    padding-top: 15px;
    margin-right: 17px;
  }

  .selection-form__label--weight {
    margin-right: 20px;
  }

  .selection-form__input {
    width: 506px;
    padding-left: 18px;
    margin-right: 0;
  }

  .selection-form__input--weight {
    padding-left: 18px;
    width: 475px;
  }

  .selection-form__input--age {
    padding-left: 18px;
    padding-bottom: 10px;
    width: 436px;
    margin-bottom: 0;
  }

  .selection-form__wraper--age {
    margin-bottom: 0;
  }

  .selection-form__wraper--weight {
    margin-bottom: 20px;
  }

  .selection-form__cat {
    margin-left: 10px;
    margin-right: 79px;
    padding: 0;
  }

  .selection-form__radioblock {
    display: flex;
    border: 1px solid $border-color;
    padding: 0;
    padding-left: 49px;
    padding-top: 33px;
    padding-bottom: 33px;
    width: 570px;
    margin: 0;
  }

  .selection-form__wraper--radio {
    margin: 0;
  }

  .selection-form__option {
    margin-top: 0;
    margin-bottom: 32px;
  }

  .selection-form__option:last-child {
    margin-bottom: 0;
  }

  .selection-form__catwrap {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    margin-top: -2px;
    margin-bottom: 69px;
  }

  .selection-form__heading--contacts {
    margin-left: -40px;
    margin-bottom: 65px;
    margin-top: 0;
  }

  .selection-form__contactwrap {
    display: flex;
    width: $desktop-widths;
    margin: 0 auto;
  }

  .selection-form__label--email {
    margin-left: 2px;
  }

  .selection-form__label--tel,
  .selection-form__label--email {
    margin-right: 20px;
    padding-top: 16px;
  }

  .selection-form__label--tel {
    margin-right: 18px;
  }

  .selection-form__input--email {
    margin-right: 86px;
    width: 486px;
  }

  .selection-form__input--tel {
    margin: 0;
    width: 472px;
  }

  .selection-form__icon--tel,
  .selection-form__icon--email {
    position: absolute;
    top: 12px;
    right: 106px;
    width: 17px;
    height: 30px;
  }

  .selection-form__icon--tel {
    right: 20px;
    width: 20px;
  }

  .selection-form__heading--comment {
    margin-top: 27px;
    margin-left: -40px;
    margin-bottom: 41px;
    padding-right: 40px;
  }

  /*зеленые линии*/
  .selection-form__wraper--comment::before {
    top: 50px;
  }

  .selection-form__wraper--contacts::before {
    top: 21px;
  }

  .selection-form__input--comment {
    margin-left: 0;
    width: 1220px;
  }

  .selection-form__wraper--comment {
    margin-bottom: 45px;
  }

  .selection-form__heading--options {
    margin-left: -40px;
    margin-bottom: 58px;
    padding-right: 42px;
  }

  .selection-form__options {
    margin-bottom: 70px;
  }

  .selection-form__label--checkbox {
    margin-left: 11px;
  }

  .selection-form__option--add {
    width: 230px;
    margin: 0;
    margin-right: 95px;
  }

  .selection-form__option--add:last-child {
    margin-right: 0;
  }

  .selection-form__catwrap .container {
    padding: 0;
  }

  .selection-form__wraper--submit {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
  }

  .selection-form__explanation {
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .selection-form__wraper--options {
    margin-bottom: 32px;
  }
}
