.selection__heading {
  @include text(#111111, 36px, 38px);
  font-weight: normal;
  padding-top: 7px;
  padding-bottom: 7px;
}

.selection__text {
  @include text(#444444, 14px, 16px);
  font-weight: normal;
  margin: 0;
  margin-bottom: 27px;
  padding-right: 13px;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.selection-form__cat {
  display: flex;
  flex-direction: column;
  min-height: 163px;
  border-bottom: 1px solid $border-color;
  padding-bottom: 9px;
}

.selection-form__wraper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
  justify-content: space-between;
  align-items: center;
}

.selection-form__label {
  @include text(#222222, 16px, 18px);
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 14px;
}

.selection-form__input {
  @include text(#444444, 16px, 18px);
  font-weight: normal;
  text-transform: uppercase;
  flex-grow: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 38px;
}

.selection-form__input--age {
  width: 172px;
}

.selection-form__raioblock {
  border-bottom: 1px solid $border-color;

  @include list-style;
  padding-top: 29px;
}

.selection-form__option {
  margin-bottom: 26px;
}

.selection-form__radio,
.selection-form__checkbox {
  margin-right: 16px;
}

.selection-form__heading {
  position: relative;

  @include text(#111111, 24px, 26px);
  font-weight: normal;
  padding-top: 13px;
  padding-bottom: 13px;
}

.selection-form__label--comment {
  position: relative;

  @include text(#111111, 24px, 24px);
  font-weight: normal;
  text-transform: none;
  margin-bottom: 31px;
  margin-top: 17px;
}

.selection-form__heading--contacts::after,
.selection-form__label--comment::after,
.selection-form__heading--options::after {
  @include pseudo;
  top: 35%;
  right: -20px;
  width: 99px;
  height: 3px;
  background-color: $green-tone;
}

.selection-form__label--comment::after {
  width: 158px;
  top: 50%;
  right: -35px;
}

.selection-form__heading--options::after {
  width: 136px;
  top: 50%;
  right: -20px;
}

.selection-form__wraper--comment {
  flex-direction: column;
  margin-bottom: 14px;
  justify-content: space-between;
  align-items: stretch;
}

.selection-form__input--comment {
  resize: none;
  min-height: 150px;
  padding-right: 0;
}

.selection-form__button {
  position: absolute;
  top: 30%;
  background-color: transparent;
  border: none;
  outline: none;
}

.selection-form__button--tel {
  right: 5px;
}

.selection-form__button--email {
  right: 9px;
}

.selection-form__options {
  @include list-style();
}

.selection__explanation {
  text-align: center;
  padding-top: 11px;
  padding-bottom: 12px;

  @include text(#444444, 12px, 14px);
  font-family: $sup-font;
  text-decoration: none;
  font-weight: normal;
}
