.selection-form__heading,
.selection-form__label--comment {
  display: inline-block;
  padding: 0 20px;
  padding-bottom: 10px;
  margin-left: -21px;
  position: relative;
  background: #ffffff;

  @include text(#111111, 24px, 24px);
  font-weight: normal;
}

.selection-form__heading--contacts {
  margin-bottom: 23px;
  padding-right: 22px;
}

.selection-form__heading--comment {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 22px;
}

.selection-form__heading--options {
  margin-top: 25px;
  margin-bottom: 30px;
  padding-right: 24px;
}

.selection-form__cat {
  display: flex;
  flex-direction: column;
  min-height: 163px;
  padding-bottom: 20px;
}

.selection-form__wraper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
  justify-content: space-between;
}

.selection-form__wraper--radio {
  padding-top: 29px;
  padding-bottom: 26px;
  flex-direction: column;
}

.selection-form__wraper--contacts,
.selection-form__wraper--submit,
.selection-form__wraper--comment,
.selection-form__wraper--column {
  flex-direction: column;
}

.selection-form__wraper--contacts,
.selection-form__wraper--comment,
.selection-form__wraper--submit,
.selection-form__wraper--options {
  margin-bottom: 0;
}


.selection-form__label {
  @include text(#222222, 16px, 18px);
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 13px;
  margin-left: -1px;
  padding-top: 13px;
}

.selection-form__label--weight {
  margin-right: 16px;
}

.selection-form__input {
  @include text(#444444, 16px, 18px);
  width: 229px;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 38px;
}

.selection-form__input--weight {
  padding-left: 16px;
  width: 205px;
}

.selection-form__input--age {
  padding-left: 16px;
  width: 173px;

  margin-bottom: 9px;
}

.selection-form__radioblock {
  border: 1px solid $border-color;

  @include list-style;
  padding-top: 25px;
  padding-bottom: 26px;
  width: $mobile-widths-only;
  margin: 0 auto;
  margin-bottom: 9px;
}

.selection-form__option {
  margin-bottom: 25px;
}

.selection-form__option:last-child {
  margin-bottom: 0;
}

.selection-form__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.selection-form__radio + label {
  position: relative;
  padding-left: 46px;
  cursor: pointer;
}

/*кольцо радиокнопки*/
.selection-form__radio + label::before {
  @include pseudo;
  top: 10px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $border-color;
  border-radius: 50%;
  background: #ffffff;
}

/*точка радиокнопки*/
.selection-form__radio + label::after {
  @include pseudo;
  top: 20px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: $green-tone;
  opacity: 0;
  transition: 0.25s;
}

.selection-form__radio:checked + label::after {
  opacity: 1;
}

.selection-form__label--comment {
  @include text(#111111, 24px, 24px);
  font-weight: normal;
  text-transform: none;
}

.selection-form__wraper--contacts,
.selection-form__wraper--options,
.selection-form__wraper--comment {
  position: relative;
}

.selection-form__wraper--contacts::before,
.selection-form__wraper--comment::before,
.selection-form__wraper--options::before {
  @include pseudo;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $green-tone;
}

.selection-form__wraper--contacts::before {
  top: 33px;
}

.selection-form__wraper--comment::before {
  top: 15px;
}

.selection-form__wraper--options::before {
  top: 40px;
}

.selection-form__label--tel,
.selection-form__label--email {
  margin-right: 11px;
}

.selection-form__label--tel::before,
.selection-form__label--email::before {
  @include pseudo;
  top: 8px;
  right: 16px;
  width: 17px;
  height: 30px;
  background-color: red;
}

.selection-form__label--tel::before {
  background: url("../img/icon-phone.svg");
  right: 10px;
  width: 24px;
  height: 32px;

  @include background(center, no-repeat);
}

.selection-form__label--email::before {
  background: url("../img/icon-mail.svg");

  @include background(center, no-repeat);
}

.selection-form__input--tel,
.selection-form__input--email {
  width: 219px;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 14px;
  padding-right: 38px;
}

.selection-form__input--comment {
  resize: none;
  min-height: 150px;
  width: 280px;
  padding-right: 0;
  margin-top: 26px;
}

.selection-form__options {
  @include list-style();
  margin-bottom: 41px;
}

/*cтилизация чекбоксов*/
/*cтилизация чекбоксов*/
.selection-form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.selection-form__checkbox + label {
  position: relative;
  padding: 0 0 0 47px;
  cursor: pointer;
}

/*маркер бокса!*/
.selection-form__checkbox + label::after {
  @include pseudo;
  top: -2px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $border-color;
}

.selection-form__checkbox:checked + label::before {
  @include pseudo;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 11px;
  border-left: 2px solid $green-tone;
  border-bottom: 2px solid $green-tone;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  transition: 0.2s;
}

/*cтилизация чекбоксов*/
/*cтилизация чекбоксов*/

.selection-form__explanation {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 17px;

  @include text(#444444, 14px, 15px);
  font-family: $sup-font;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 16px;
}

/* СТИЛИ ДЛЯ taba */
@media (min-width: $tablet-widths) {
  .selection-form__radioblock {
    border: none;
  }

  .selection-form__wraper--radio {
    width: 708px;
    border: 1px solid $border-color;
    padding: 0;
    padding-left: 28px;
    padding-top: 28px;
    margin: 0 auto;
  }

  .selection-form__input--comment {
    width: 708px;
  }

  .selection-form__options {
    display: flex;
    flex-wrap: wrap;
  }

  .selection-form__option {
    width: 300px;
    margin-bottom: 24px;
  }

  .selection-form__wraper--submit {
    justify-content: space-between;
    flex-direction: row;
  }

  .button--button { /* временно тут */
    margin: 0; /* временно тут */
  } /* временно тут */
}

/* СТИЛИ ДЛЯ ДЕСКА */
@media (min-width: $desktop-widths) {
  .selection-form__heading {
    margin-left: -30px;
  }

  .selection-form__radioblock {
    margin-left: 80px;
  }

  .selection-form__catwrap,
  .selection-form__contactwrap {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
  }

  .selection-form__input--email,
  .selection-form__input--tel {
    width: 472px;
  }

  .selection-form__input--comment {
    width: 1210px;
  }

  .selection-form__catwrap .container {
    padding: 0;
  }

  .selection-form__wraper--submit {
    justify-content: flex-start;
    flex-direction: row;
    align-items: baseline;
  }

  .button--button { /* временно тут */
    margin: 40px; /* временно тут */
  } /* временно тут */
}
