.site-logo[href]:hover,
.site-logo__img[href]:hover {
  opacity: 0.8;
}

.site-logo[href]:active,
.site-logo__img[href]:active {
  opacity: 0.6;
}

.site-logo--footer {
  display: inline-block;
  margin-left: 75px;
  margin-bottom: 30px;
}

.site-logo__img--footer {
  width: 130px;
  height: 24px;
}

@media (min-width: $tablet-widths) {
  .site-logo--header {
    margin-left: 0;
    margin-right: 94px;
    width: 174px;
    height: 59px;
  }

  .site-logo {
    margin: 0;
  }

  .site-logo__img--footer {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-widths) {
  .site-logo--header {
    margin-top: 38px;
    margin-left: 0;
    margin-right: 94px;
    width: 203px;
    height: 60px;
  }

  .site-logo__img--header {
    width: 203px;
    height: 60px;
  }

  .site-logo__img--footer {
    margin-left: -1px;
    margin-right: 258px;
    width: 130px;
    height: 24px;
  }
}
