.site-navigation {
  position: relative;
}

.site-navigation__list {
  @include list-style;
}

.site-navigation__item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid $border-color;
  border-bottom: none;
}

.site-navigation__link {
  @include text(#111111, 20px, 20px);
  text-transform: uppercase;
  font-weight: 500;
}
