.site-promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-top: 28px;
  margin-bottom: 23px;
  text-align: center;
}

.site-promo__header {
  @include text(#ffffff, 36px, 36px);
  font-weight: normal;
  margin-top: 0;
}

.site-promo__text {
  @include text(#ffffff, 14px, 20px);
  text-transform: uppercase;
}

.site-promo__wraper {
  margin-bottom: 27px;
}

@media (min-width: $tablet-widths) {
  .site-promo {
    background-image: none;
    background-color: white;
  }
}

@media (min-width: $desktop-widths) {
  .site-promo {
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: right;
    background-color: white;
    background-size: 50%;
  }

}
