.site-logo--footer {
  margin-left: 74px;
}

.footer .site-logo__img {
  margin-bottom: 30px;
}

.site-logo__img--desk,
.site-logo__img--tab {
  display: none;
}

@media (min-width: $tablet-widths) {
  .header .site-logo {
    margin-left: 0;
    margin-right: 94px;
  }

  .site-logo {
    margin: 0;
  }

  .footer .site-logo__img {
    margin-bottom: 0;
  }

  .site-logo__img--mob,
  .site-logo__img--desk {
    display: none;
  }

  .site-logo__img--tab {
    display: block;
  }
}

@media (min-width: $desktop-widths) {
  .site-logo {
    padding-top: 38px;
    margin-right: 94px;
  }

  .site-logo__img--tab,
  .site-logo__img--mob {
    display: none;
  }

  .site-logo__img--desk {
    display: block;
  }
}
