.site-promo {
  padding-top: 28px;
  margin-bottom: 23px;
  text-align: center;
}

.site-promo__header {
  @include text(#ffffff, 36px, 36px);
  font-weight: normal;
  margin-top: 0;
}

.site-promo__text {
  @include text(#ffffff, 14px, 20px);
  text-transform: uppercase;
}

.site-promo__wraper--text {
  height: 306px;
  background-color: $green-tone;
  background-image: url("../img/index-background-mobile@1x.jpg");

  @include background (center top, no-repeat);
}

.site-promo__wraper {
  margin-bottom: -67px;
}

.site-promo__wraper--order {
  margin-bottom: 67px;
}

.site-promo__img--tab,
.site-promo__img--desk {
  display: none;
}

.site-promo__img--mob {
  display: block;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .site-promo {
    background-image: none;
    background-color: #ffffff;
  }

  .site-promo__header {
    @include text(#000000, 36px, 36px);
    font-weight: normal;
    text-align: left;
    margin-top: 0;
  }

  .site-promo__text {
    @include text(#000000, 14px, 20px);
    text-transform: uppercase;
    text-align: left;
  }

  .site-promo__wraper--order {
    display: flex;
    flex-direction: column-reverse;
  }

  .site-promo__wraper--text {
    background: none;
  }

  .site-promo__img--mob,
  .site-promo__img--desk {
    display: none;
  }

  .site-promo__img--tab {
    display: block;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */

@media (min-width: $desktop-widths) {
  .site-promo {
    height: 696px;
    padding: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(104,183,56,1) 50%);
  }

  .site-logo__img--tab,
  .site-logo__img--mob {
    display: none;
  }

  .site-logo__img--desk {
    display: block;
  }

  .site-promo__header {
    @include text(#000000, 60px, 60px);
    font-weight: normal;
    text-align: left;
    margin-top: 0;
  }

  .site-promo__text {
    @include text(#000000, 14px, 20px);
    text-transform: uppercase;
    text-align: left;
  }

  .site-promo__wraper--text {
    width: $desktop-widths;
    margin: 0 auto;
    background-image: url("../img/index-background-desktop@1x.jpg");
    min-height: 696px;
    @include background(top right, no-repeat);
    margin-bottom: -600px;
  }

  .site-promo__wraper--order {
    width: 900px;
    height: 450px;
    display: flex;
    flex-direction: row-reverse;
  }
}
