.site-navigation {
  display: none;
  position: relative;
}

.site-navigation__list {
  display: flex;
  flex-direction: column;

  @include list-style;
}

.site-navigation__item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid $border-color;
  border-bottom: none;
}

.site-navigation__item:last-child {
  border-bottom: 1px solid $border-color;
}

.site-navigation__link {
  @include text(#111111, 20px, 20px);
  text-transform: uppercase;
  font-weight: 500;
}

@media (min-width: $tablet-widths) {
  .site-navigation {
    display: flex;
    position: relative;
    margin-top: 22px;
  }

  .site-navigation__list {
    flex-direction: row;
  }

  .site-navigation__item {
    text-align: center;
    margin-right: 34px;
    padding: 0;
    border: none;
    border-bottom: none;
  }

  .site-navigation__item:nth-child(2) {
    margin-right: 37px;
  }

  .site-navigation__item:last-child {
    border-bottom: none;
    margin-right: 0;
  }

  .site-navigation__link {
    @include text(#111111, 18px, 20px);
    text-transform: uppercase;
    font-weight: normal;
  }

  .site-navigation__link--сurrentindex {
    padding-bottom: 7px;
    border-bottom: 2px solid $green-tone;
  }
}

@media (min-width: $desktop-widths) {
  .site-navigation {
    z-index: 1;
    margin-top: 57px;
  }

  .site-navigation__link {
    @include text(#111111, 20px, 25px);
    text-transform: uppercase;
    font-weight: normal;
  }

  .site-navigation__link--white {
    color: #ffffff;
  }

  .site-navigation__link--сurrentindex {
    padding-bottom: 6px;
    border-bottom: 2px solid #ffffff;
  }

  .site-navigation__item {
    text-align: center;
    margin-right: 36px;
    padding: 0;
    border: none;
    border-bottom: none;
  }

  .site-navigation__item:nth-child(2) {
    margin-right: 33px;
  }

  .site-navigation__item:last-child {
    margin-right: 0;
  }
}
