.site-navigation {
  position: relative;
  overflow: hidden;
  margin-bottom: -14px;
  padding-top: 13px;
}

@media (max-width: $max-mobile-widths) {
  .site-navigation {
    transition: all 1s ease;
    max-height: 0;
    opacity: 0;
  }

  .site-navigation--nojs,
  .site-navigation--opened {
    max-height: 300px;
    opacity: 1;
  }

  .site-navigation--closed {
    max-height: 0;
    opacity: 0;
  }
}

.site-navigation__list {
  display: flex;
  flex-direction: column;

  @include list-style;
}

.site-navigation__item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $border-color;
}

.site-navigation__link {
  @include text(#111111, 20px, 20px);
  text-transform: uppercase;
  font-weight: 500;
}

.site-navigation__link[href]:hover {
  opacity: 0.6;
}

.site-navigation__link[href]:active {
  opacity: 0.3;
}

@media (min-width: $tablet-widths) {
  .site-navigation {
    display: flex;
    position: relative;
    margin-top: 22px;
    padding-top: 0;
    opacity: 1;
  }

  .site-navigation__list {
    flex-direction: row;
  }

  .site-navigation__item {
    text-align: center;
    margin-right: 34px;
    padding: 0;
    border: none;
    border-bottom: none;
  }

  .site-navigation__item:nth-child(2) {
    margin-right: 37px;
  }

  .site-navigation__item:last-child {
    border-bottom: none;
    margin-right: 0;
  }

  .site-navigation__link {
    @include text(#111111, 18px, 20px);
    text-transform: uppercase;
    font-weight: normal;
  }

  .site-navigation__link--сurrent {
    padding-bottom: 7px;
    border-bottom: 2px solid $green-tone;
  }
}

@media (min-width: $desktop-widths) {
  .site-navigation {
    z-index: 1;
    margin-top: 57px;
    padding-top: 0;
    opacity: 1;
  }

  .site-navigation__link {
    @include text(#111111, 20px, 25px);
    text-transform: uppercase;
    font-weight: normal;
  }

  .site-navigation__link--white {
    color: #ffffff;
  }

  .site-navigation__link--сurrentindex {
    padding-bottom: 6px;
    border-bottom: 2px solid #ffffff;
  }

  .site-navigation__item {
    text-align: center;
    margin-right: 36px;
    padding: 0;
    border: none;
    border-bottom: none;
  }

  .site-navigation__item:nth-child(2) {
    margin-right: 33px;
  }

  .site-navigation__item:last-child {
    margin-right: 0;
  }
}
