.site-logo--footer {
  display: inline-block;
  margin-left: 75px;
  margin-bottom: 27px;
}

.footer .site-logo__img {
  width: 130px;
  height: 24px;
}

.site-logo__img--desk,
.site-logo__img--tab {
  display: none;
}

@media (min-width: $tablet-widths) {
  .header .site-logo {
    margin-left: 0;
    margin-right: 94px;
  }

  .site-logo {
    margin: 0;
  }

  .footer .site-logo__img {
    margin-bottom: 0;
  }

  .site-logo__img--mob,
  .site-logo__img--desk {
    display: none;
  }

  .site-logo__img--tab {
    display: block;
  }
}

@media (min-width: $desktop-widths) {
  .header .site-logo {
    margin-top: 37px;
    margin-right: 94px;
  }

  .footer .site-logo__img {
    margin-top: -6px;
    margin-left: -1px;
    margin-right: 258px;
    width: 130px;
    height: 24px;
  }

  .site-logo__img--tab,
  .site-logo__img--mob {
    display: none;
  }

  .site-logo__img--desk {
    display: block;
  }
}
