.site-navigation {
  position: relative;
}

.site-navigation__list {
  display:flex;
  flex-direction: column;
  @include list-style;
}

.site-navigation__item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid $border-color;
  border-bottom: none;
}

.site-navigation__item:last-child {
  border-bottom: 1px solid $border-color;
}

.site-navigation__link {
  @include text(#111111, 20px, 20px);
  text-transform: uppercase;
  font-weight: 500;
}

@media (min-width: $tablet-widths) {
  .site-navigation__list {
    flex-direction: row;
  }

  .site-navigation__item {
    text-align: center;
    margin-right: 20px;
    padding: 0;
    border: none;
    border-bottom: none;
  }

  .site-navigation__item:last-child {
    border-bottom: none;
    margin-right: 0;
  }

  .site-navigation__link {
    @include text(#111111, 18px, 20px);
    text-transform: uppercase;
    font-weight: normal;
  }
}

@media (min-width: $desktop-widths) {
  .site-navigation {
    position: relative;
    background-color: transparent;
    z-index: 1;
  }
}
