.slider__image--before {
  width: $mobile-widths-only;
}

.slider__before {
  margin-left: -20px;
  margin-right: -20px;
}

.slider {
  text-align: center;
}

.slider__buttons {
  position: relative;
  display: flex;
  margin-top: 33px;
  margin-left: 38px;
}

.slider__buttons::before {
  @include pseudo;
  top: 3px;
  left: 61px;
  width: 84px;
  height: 14px;
  border: 1px solid $border-color;
  border-radius: 8px;
}

.slider__buttons::after {
  @include pseudo;
  left: 66px;
  top: 7px;
  width: 35px;
  height: 6px;
  background-color: $green-tone;
  border-radius: 8px;
}

.slider__button {
  border: none;
  background-color: $options-color;

  @include text(#111111, 16px, 16px);
  font-weight: normal;
  text-transform: uppercase;
}

.slider__button:first-child {
  padding-right: 113px;
}

.slider__image--tab,
.slider__image--desk {
  display: none;
}

.slider__image--mobile {
  display: block;
}

.slider__image--after {
  display: none;
}

/* СТИЛИ ДЛЯ ТАБЛЕТКИ */

@media (min-width: $tablet-widths) {
  .slider {
    position: relative;
    width: 100%;
    min-height: 635px;
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
  }

  .slider::before {
    @include pseudo;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 463px;
    background: linear-gradient(90deg, rgba(242, 242, 242, 1) 50%, rgba(237, 237, 237, 1) 50%);
  }

  .slider__buttons {
    display: flex;
    width: $tablet-widths;
    padding: 0 30px;
    margin: 0 auto;
    height: 53px;
    padding-top: 13px;
    padding-bottom: 10px;
  }

  .slider__button {
    @include text(#111111, 20px, 20px);
    border-bottom: 1px dotted #b8b8b8;
    padding: 0;
  }

  .slider__description--after {
    background-color: #ebebeb;
  }

  .slider__button:first-child {
    margin-right: 473px;
    margin-left: 68px;
    padding: 0;
  }

  /*серая линия*/
  .slider__buttons::before {
    @include pseudo;
    top: 25px;
    left: 170px;
    width: 429px;
    height: 6px;
    background-color: $border-color;
    border-radius: 8px;
  }

  /*белый маркер*/
  .slider__buttons::after {
    @include pseudo;
    left: 367px;
    top: 13px;
    width: 34px;
    height: 34px;
    border: 13px solid #ffffff;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-color: $green-tone;
    cursor: pointer;
  }

  .slider__content {
    position: relative;
    display: flex;
    width: $tablet-widths;
    margin: 0 auto;
    padding-right: 172px;
  }

  .slider__after,
  .slider__before {
    position: relative;
    overflow: hidden;
    height: 520px;
    width: 100%;
  }

  .slider__before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 33%, rgba(242, 242, 242, 1) 33%);
  }

  .slider__after {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 33%, rgba(237, 237, 237, 1) 33%);
    width: 50%;
  }

  .slider__image--mobile,
  .slider__image--desk {
    display: none;
  }

  .slider__image--tab {
    position: absolute;
    display: block;
    width: 700px;
    max-width: none;
    height: 520px;
    top: 0;
    left: 62px;
  }

  .slider__image--after {
    left: -342px;
  }
}

/* СТИЛИ ДЛЯ ДЕСКА */
@media (min-width: $desktop-widths) {
  .slider {
    position: relative;
    width: 50%;
    min-height: 508px;
    padding-bottom: 65px;
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
  }

  .slider::before {
    @include pseudo;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 463px;
    background: linear-gradient(90deg, rgba(242, 242, 242, 1) 53.2%, rgba(237, 237, 237, 1) 53.2%);
  }

  .slider__description--after {
    background-color: #ebebeb;
  }

  .slider__button:first-child {
    margin-right: 472px;
    margin-left: 40px;
  }

  .slider__content {
    position: relative;
    display: flex;
    width: 610px;
    height: 610px;
    margin: 0 auto;
    padding-right: 102px;
    margin-bottom: -70px;
  }

  .slider__buttons {
    display: flex;
    width: 610px;
    padding: 0;
    margin: 0;
    height: 53px;
    padding-top: 13px;
    padding-bottom: 10px;
  }

  /*серая линия*/
  .slider__buttons::before {
    top: 27px;
    left: 110px;
    width: 429px;
  }

  /*белый маркер*/
  .slider__buttons::after {
    left: 308px;
    top: 12px;
  }

  .slider__after,
  .slider__before {
    position: relative;
    overflow: hidden;
    height: 620px;
    width: 610px;
  }

  .slider__before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 30.5%, rgba(242, 242, 242, 1) 30.5%);
  }

  .slider__after {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 30.5%, rgba(237, 237, 237, 1) 30.5%);
    width: 305px;
  }

  .slider__image--desk {
    position: absolute;
    display: block;
    max-width: none;
    width: 685px;
    height: 518px;
    top: 0;
    left: -18px;
  }

  .slider__image--after {
    left: -362px;
  }

  .slider__image--tab,
  .slider__image--mobile {
    display: none;
  }
}
