.slider__image--after {
  display: none;
}

.slider__before {
  margin-left: -20px;
  margin-right: -20px;
}

.slider {
  text-align: center;
}

.slider__buttons {
  display: flex;
  margin-top: 38px;
  margin-left: 38px;
}

.slider__button {
  border: none;
  background-color: $oprtions-color;

  @include text(#111111, 16px, 16px);
  font-weight: normal;
  text-transform: uppercase;
}

.slider__button:first-child {
  margin-right: 108px;
}
