.social__list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  list-style: none;

  @include list-style;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding-bottom: 18px;
  padding-top: 23px;
  margin-bottom: 18px;
}

.social__item {
  display: inline-block;
}

.social__link:hover {
  fill: $green-tone;
}

.social__link:active {
  opacity: 0.3;
}

/*
.social__item:nth-child(2) {

}

.social__item:last-child {

}
*/

.social__link {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  fill: #666666;
}

.social__icon--vk {
  margin-top: 0;
  width: 22px;
  height: 12px;
}

.social__icon--inst {
  width: 17px;
  height: 17px;
}

.social__icon--fb {
  width: 10px;
  height: 19px;
}

@media (min-width: $tablet-widths) {
  .social__list {
    display: flex;
    width: 300px;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 136px;
  }

  .social__item {
    list-style: none;
    display: inline-block;
  }

  .social__icon--vk {
    width: 30px;
    height: 16px;
  }

  .social__icon--inst {
    width: 23px;
    height: 23px;
  }

  .social__icon--fb {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: $desktop-widths) {
  .social__list {
    width: 600px;
    margin-top: -2px;
  }
}
