.social {
  @include lr-paddings;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include list-style;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding-bottom: 21px;
  padding-top: 24px;
}

.social__item {
  list-style: none;
  display: inline-block;
  margin-right: 36px;
}

.social__item:nth-child(2) {
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--vkontakte {
  background-image: url("../img/icon-vk.svg");
  width: 22px;
  height: 12px;
}

.social__link--instagram {
  background-image: url("../img/icon-insta.svg");
  width: 17px;
  height: 17px;
}

.social__link--facebook {
  background-image: url("../img/icon-fb.svg");
  width: 10px;
  height: 19px;
}
