.social__list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  @include list-style;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding-bottom: 19px;
  padding-top: 24px;
}

.social__item {
  list-style: none;
  display: inline-block;
  margin-right: 36px;
}

.social__item:nth-child(2) {
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--vkontakte {
  margin-top: -3px;
  width: 22px;
  height: 12px;
}

.social__link--inst {
  margin-top: -1px;
  width: 19px;
  height: 19px;
}

.social__link--fb {
  margin-top: -3px;
  margin-left: -3px;
  width: 10px;
  height: 19px;
}
