.social__list {
  display: flex;
  align-items: stretch;

  @include list-style;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding-bottom: 21px;
  padding-top: 24px;
  margin-bottom: 18px;
}

.social__item {
  list-style: none;
  display: inline-block;
  margin-right: 36px;
  margin-left: 74px;
}

.social__item:nth-child(2) {
  margin-right: 38px;
  margin-left: 0;
}

.social__item:last-child {
  margin: 0;
}

.social__link {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--vkontakte {
  margin-top: -2px;
  width: 22px;
  height: 12px;
}

.social__link--inst {
  width: 17px;
  height: 17px;
}

.social__link--fb {
  margin-top: -2px;
  width: 10px;
  height: 19px;
}

@media (min-width: $tablet-widths) {
  .social__list {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 136px;
  }

  .social__item {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-left: 153px;
  }

  .social__item:nth-child(2) {
    margin-right: 28px;
  }

  .social__link--vkontakte {
    margin-top: 2px;
    width: 30px;
    height: 16px;
  }

  .social__link--inst {
    width: 23px;
    height: 23px;
  }

  .social__link--fb {
    width: 14px;
    height: 28px;
  }
}
