@import "normalize";
@import "fonts";
@import "variables";
@import "mixins";
@import "blocks/additional-card";
@import "blocks/additional-goods";
@import "blocks/body";
@import "blocks/button";
@import "blocks/catalog";
@import "blocks/copyright";
@import "blocks/description";
@import "blocks/example";
@import "blocks/footer";
@import "blocks/header";
@import "blocks/index-main";
@import "blocks/invite";
@import "blocks/options";
@import "blocks/product-card";
@import "blocks/promo-offer";
@import "blocks/selection-form";
@import "blocks/selection";
@import "blocks/site-logo";
@import "blocks/site-navigation";
@import "blocks/site-promo";
@import "blocks/slider";
@import "blocks/social";
@import "blocks/visually-hidden";
