/*Шрифт*/
$main-font: "Oswald", "Arial", sans-serif;
$sup-font: "Arial", sans-serif;
/*Цвета*/
$header-color: #ffffff;
$green-tone: #68b738;
$green-bq: #6baf42;
$options-color: #f2f2f2;
$border-color: #d9d9d9;
$mr-gray-color: #444444;
$pinkish-grey: #cdcdcd;
/*размеры*/
$mobile-widths-only: 320px;
$max-mobile-widths: 320px;
$tablet-widths: 768px;
$desktop-widths: 1300px;
