/*Ширины медиа выражений*/

/*Цвета*/
$color-text: #000000;
$color-border: #dbdbdb;
$color-bg-btn: #81b3d2;
$color-bg-btn-hover: #669ec0;
$color-bg-btn-down: #5496bd;
$main-font: "Oswald", "Arial", sans-serif;
